<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body onload="callParent()">
<div id="token" th:text="${authInfo.getAccess_token()}" hidden></div>
<div id="host" th:text="${host}" hidden></div>
</body>
<script th:inline="javascript">
    function callParent(){
        let token = document.getElementById("token").innerText;
        let host = document.getElementById("host").innerText;

        window.opener.location.href = host + "/oauth/login/kakao/finish?token=" + token;
        window.close();
    }
</script>
</html>