<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments.html :: head"></head>
<body class="bg-light">
<div class="container">

  <div class="py-5 text-center">
    <p class="lead mt-4 mb-5">S n a k e H o u s e A P I</p>
    <h2>환영합니다</h2>
  </div>

  <div class="row justify-content-center">
    <div class="col-sm-6 mt-3">
      <label for="sign">Sign In / Sign Up</label>
      <button id="sign" class="btn-lg btn-primary btn-block p-2" onclick="goToSign('sign-in')"
              aria-describedby="signHelp">Go to Sign Page</button>
      <small id="signHelp" class="form-text text-muted">
        토큰 발급을 위한 로그인 / 회원가입 페이지로 이동합니다.
      </small>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-sm-6 mt-3">
      <label for="sign">API Documentation</label>
      <button id="doc" class="btn-lg btn-primary btn-block p-2" onclick="goToDoc('swagger-ui.html')"
              aria-describedby="docHelp">Go to Documentation Page</button>
      <small id="docHelp" class="form-text text-muted">
        API 사용을 위한 Swagger Documentation Page로 이동합니다.
      </small>
    </div>
  </div>
</div>
</body>
<script>
  let goToDoc = function (url) {
    location.href = url;
  }
  let goToSign = function (url) {
    location.href = url;
  }
</script>
</html>